@use "colours";

.comentario-ph-button {
    display: inline-block;
    width: 75px;
    height: 32px;
    margin: 5px;
}

.comentario-ph-profile-bar {
    height: 60px;
    margin-top: -16px; // To offset the real, empty profile bar
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
}

.comentario-ph-add-comment-host {
    height: 130px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.comentario-ph-comment-card {
    height: 120px;
    margin-top: 16px;
    padding-left: 12px;
    border-top: 1px solid colours.$gray-1;
    border-left: 2px solid colours.$gray-4;

    .comentario-ph-card-header {
        height: 32px;
        margin-top: 6px;
        margin-bottom: 12px;
        border-radius: 3px;
    }

    .comentario-ph-card-text {
        height: 12px;
        margin-bottom: 6px;
        border-radius: 1.5px;
    }
}

.comentario-ph-bg {
    background-color: var(--cmntr-placeholder-bg);
    opacity: .5;
    mask-image: linear-gradient(
        130deg,
        var(--cmntr-placeholder-mask) 40%,
        rgba(0, 0, 0, .2) 50%,
        var(--cmntr-placeholder-mask) 60%);
    mask-size: 200% 100%;
    animation: comentario-ph-bg 2s linear infinite;
}

@keyframes comentario-ph-bg {
    to {
        mask-position: -200% 0%;
    }
}
