@use "colours";

@mixin theme-props($theme: light) {
    // Light theme properties
    @if $theme == light {
        --cmntr-bg:                   #{colours.$white};
        --cmntr-bg-shade:             #{colours.$gray-1};
        --cmntr-bg-highlight:         #{colours.$indigo-2};
        --cmntr-bg-blink:             #{colours.$yellow-3};
        --cmntr-danger-bg:            #{colours.$red-1};
        --cmntr-deleted-bg:           #{colours.$pink-2};
        --cmntr-dlg-header-bg:        #{colours.$gray-3};
        --cmntr-input-bg:             #{colours.$white};
        --cmntr-pending-bg:           #{colours.$gray-2};
        --cmntr-placeholder-bg:       #{colours.$gray-3};
        --cmntr-placeholder-mask:     #{colours.$gray-9};
        --cmntr-rejected-bg:          #{colours.$yellow-1};
        --cmntr-success-bg:           #{colours.$green-1};
        --cmntr-warning-bg:           #{colours.$yellow-1};

        --cmntr-color:                #{colours.$gray-8};
        --cmntr-danger-color:         #{colours.$red-7};
        --cmntr-input-color:          #{colours.$gray-7};
        --cmntr-input-ph-color:       #{colours.$gray-5};
        --cmntr-input-disabled-color: #{colours.$gray-6};
        --cmntr-label-color:          #{colours.$gray-7};
        --cmntr-link-color:           #{colours.$blue-9};
        --cmntr-link-hover-color:     #{colours.$blue-6};
        --cmntr-muted-color:          #{colours.$gray-6};
        --cmntr-score-color:          #{colours.$gray-4};
        --cmntr-score-up-color:       #{colours.$green-6};
        --cmntr-score-down-color:     #{colours.$orange-6};
        --cmntr-sticky-color:         #{colours.$yellow-4};
        --cmntr-success-color:        #{colours.$green-7};
        --cmntr-warning-color:        #{colours.$yellow-7};

        --cmntr-card-border:          #{colours.$gray-1};
        --cmntr-dlg-border:           #{colours.$gray-5};
        --cmntr-pending-border:       #{colours.$yellow-6};
        --cmntr-table-border:         #{colours.$gray-3};

    // Dark theme properties
    } @else {
        color-scheme: dark;
        --cmntr-bg:                   #{colours.$gray-9};
        --cmntr-bg-shade:             #{colours.$gray-8};
        --cmntr-bg-highlight:         #{colours.$indigo-7};
        --cmntr-bg-blink:             #{colours.$yellow-6};
        --cmntr-danger-bg:            #{colours.$red-9};
        --cmntr-deleted-bg:           #{colours.$pink-5};
        --cmntr-dlg-header-bg:        #{colours.$gray-6};
        --cmntr-input-bg:             #{colours.$gray-9};
        --cmntr-pending-bg:           #{colours.$gray-7};
        --cmntr-placeholder-bg:       #{colours.$gray-6};
        --cmntr-rejected-bg:          #{colours.$yellow-8};
        --cmntr-success-bg:           #{colours.$green-8};
        --cmntr-warning-bg:           #{colours.$yellow-8};

        --cmntr-color:                #{colours.$gray-1};
        --cmntr-danger-color:         #{colours.$red-2};
        --cmntr-input-color:          #{colours.$gray-2};
        --cmntr-input-ph-color:       #{colours.$gray-4};
        --cmntr-input-disabled-color: #{colours.$gray-3};
        --cmntr-label-color:          #{colours.$gray-2};
        --cmntr-link-color:           #{colours.$blue-3};
        --cmntr-link-hover-color:     #{colours.$blue-6};
        --cmntr-muted-color:          #{colours.$gray-3};
        --cmntr-score-color:          #{colours.$gray-5};
        --cmntr-score-up-color:       #{colours.$green-3};
        --cmntr-score-down-color:     #{colours.$orange-3};
        --cmntr-sticky-color:         #{colours.$yellow-5};
        --cmntr-success-color:        #{colours.$green-2};
        --cmntr-warning-color:        #{colours.$yellow-2};

        --cmntr-card-border:          #{colours.$gray-8};
        --cmntr-dlg-border:           #{colours.$gray-4};
        --cmntr-pending-border:       #{colours.$yellow-3};
        --cmntr-table-border:         #{colours.$gray-6};
    }
}
