<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <title>Comentario: {{ .Title }}</title>
</head>
<body style="font-size: 14px; background: white; font-family: sans-serif; padding: 0; margin: 0;">
<div style="max-width: 600px; margin-top: 16px;">
    {{- block "heading" . }}
    <div style="text-align: center; margin-top: 12px; padding: 8px; border-bottom: 1px solid #eee;">
        <img src="cid:logo.png" alt="Comentario" style="border: 0; max-width: 100%; width: 500px; height: auto;">
    </div>
    {{- end }}

    <main style="padding: 16px;">
        {{- block "content" . }}
        {{ .Content }}
        {{- end }}
    </main>

    {{- block "footer" . }}
    <div class="footer" style="margin: 16px 0;">
        <p style="padding: 12px 0; color: #868e96; font-size: 13px; text-align: left; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;">
            {{- .EmailReason }}
            {{- with .UnsubscribeURL }} <a href="{{ . }}" style="color: #868e96; text-decoration: underline;">{{ T "actionUnsubscribe" }}</a>.{{ end }}
        </p>
        <p style="padding-top: 6px;">
            <a href="https://comentario.app/" style="float: right; font-weight: bold; color: #868e96; font-size: 13px; text-decoration: none;">{{ T "poweredBy" }}</a>
        </p>
    </div>
    {{- end }}
</div>
</body>
</html>
